<md-dialog-content>
    <!--Loading animation starts here-->
    <div class="loadintContainer">
        <div class="row clearfix">
            <div class="square one"></div>
            <div class="square two"></div>
            <div class="square three"></div>
        </div>

        <div class="row clearfix">
            <div class="square eight"></div>
            <div class="square nine"></div>
            <div class="square four"></div>
        </div>

        <div class="row clearfix">
            <div class="square seven"></div>
            <div class="square six"></div>
            <div class="square five"></div>
        </div>
    </div>
        <!--Loading animation ends here-->
</md-dialog-content>
