<!DOCTYPE html>
<!-- <html manifest="app.mainfest"> -->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

    <% if (webpackConfig.htmlElements.headTags) { %>
        <!-- Configured Head Tags  -->
        <%= webpackConfig.htmlElements.headTags %>
            <% } %>

                <!-- base url -->
                <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body>
    <svg  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" style="
    position: absolute;
    width: 0;
    height: 0;
    /* visibility: hidden; */
">
        <defs>
            <marker id="arrow"
                    markerUnits="strokeWidth"
                    markerWidth="12"
                    markerHeight="12"
                    viewBox="0 0 12 12"
                    refX="6"
                    refY="6"
                    orient="auto">
                    <path d="M2,2 L10,6 L2,10 L6,6 L2,2" style="fill: #000000;" />
            </marker>
        </defs>
    </svg>
    <app>
        <!-- Loading... -->
        <!-- <i class="center-fix main-spinner fa fa-spin fa-spinner"></i> -->
        <div class="xm_boxLoading">
        </div>
    </app>

    <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->


    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
        <!-- Webpack Dev Server reload -->
        <script src="/webpack-dev-server.js"></script>
        <% } %>


            <!--

-->

</body>

</html>
